.todo {

    background-color: #fff;
    color: #403c60;
    padding: 20px 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.8em;
    margin: 30px 0;
    border-radius: 10px;
    align-items: center;

    &__check {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    &__content {
        display: flex;
    }

    &__text {
        margin-left: 20px;
        word-break: break-all;
        padding-bottom: 3px;

        &--active {
            opacity: 0.7;
            text-decoration: line-through;
        }
    }

    &__btn {
        cursor: pointer;
        padding: 15px;
        margin: 0 20px;
        background-color: #403c60;
        color: #fff;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }
}